*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(nature.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 180px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
   list-style: none;
   display: inline-block;
   padding: 8px 12px;
   position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.textbox{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.textbox h1{
    font-size: 62px;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    -webkit-background-clip: text;
    color: transparent;
}
.textbox p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.textbox span{
    font-weight: bolder;
    font-size: 20px;
}
.view-btn{
  text-decoration: none;
  color: white; 
  display: inline-block;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent; 
  position: relative;
  cursor: pointer;
}
.view-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    color: white;
    transition: 1s;
}
nav .fa-solid{
    display: none;
}
@media(max-width:700px){
    .textbox h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color:white;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

           /* products */

.products{
    margin-bottom: 50px;
}
.products h4{
    color: #037339;
    margin-left: 100px;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.sub{
    padding-left:270px;
    position: relative;
    font-size: 20px;
    margin-bottom: 20px;
}
.sub:before{
    background-color: #f44336;
    display: block;
    width: 220px;
    height: 2px;
    content: "";
    position: absolute;
    left: 20px;
    top: 50%;
    z-index: -1;    
}
.sub:after{
    content: "";
    display: block;
    width: 1030px;
    height: 2px;
    background: #f44336;
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: -1;
}
.list-col {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.list-col img {
    width: 450px;
    height: 300px;
    border: 2px solid gainsboro;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px ghostwhite;
    cursor: pointer;
    margin: 10px;
    margin-bottom: 30px;
    transition: 400ms;
}

.list-col img:hover {
    transform: scale(1.03);
}
@media(max-width:700px){
    .products h4{
        font-size: 30px;
        margin-left: 50px;
    } 
    .sub{
        font-size: 15px;
        padding-left: 120px;
    }
    .sub span{
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
    }
    .list-col {
        margin-bottom: 0;
    }
    .list-col img{
        width: 300px;
        height: 250px;
        margin-bottom: 0;
    }

}

       /* footer */

.footer{
    text-align: center;
    padding: 30px 0;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(nature.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
.footer h5{
    font-weight: 600px;
}
.footer p span{
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    -webkit-background-clip: text;
    color:transparent;
    font-weight: bolder;
    font-size: large;
}
.icons .fa-brands{
    color:white;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    margin-bottom: 20px;
}
.icons .fa-brands:hover{
    color: #f44336;
}
.fa-heart{
    color:  rgb(242, 112, 156);
}

@media(max-width:700px){
    .footer{
        margin-top: 20px;
    }
    .footer h5{
        font-weight: 200px;
    }
    .footer p:nth-child(2){
        font-size: 12px;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    .footer p:nth-child(4){
        font-size: 10px;
    }
    
}
